<div style="position: -ms-page;">
    <p-card header="Bienvenido a Snowcards" subheader="Card Subheader">
        <p class="m-0">
            Una herramienta para levantamiento de requerimientos, basada en la metodología <a href="https://www.volere.org/">Volere&#174;</a>
        </p>
        <div class="flex gap-3 mt-1">
            <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="p-button font-bold">
                Crear un proyecto
            </a>
        </div>
        <ng-template pTemplate="footer">
            <p style>Desarrollado por <a href="https://wc1.website">Wilmer Amézquita.</a> <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Colombia.png" style="width: 25px; margin-bottom: -3;"></p>
        </ng-template>
    </p-card>
</div>
